<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".qa.QaHarnessActivity"
            android:exported="true"
            android:label="LocoWiki V0.3.1 Online QA" />
    </application>
</manifest>
